.horizontal-list {
  
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: center;
    flex: 0%70;
    margin-top: 10px;
    margin-left:10px;
  }
  
  .item {
    padding: 10px;
    border: 1px solid gray;
    margin-right: 10px;
  }