.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr); 
    grid-gap :10px;
    grid-auto-rows: auto;

   
    
  }
  
.grid-item {
  display:flex;
  justify-content: center;

  flex-direction: column;
  max-height: 100%;
  max-width:'100%';
    background-color: #d3d8e0;
   
    padding: 10px;
  }
  @media screen and (max-width: 10px) and (max-height:100px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
.grid-item-image{

}

  
  /* @media screen and (max-width: 480px) {
    .grid {
      grid-template-columns: 1fr;
    }
  } */